*{
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}
.facebook{
    width: 330px;
    height: 330px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
    position: relative;
    left: 500px;
    padding: 20px;
    border-radius: 10px;
    }
.user{
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 7px;
    padding: 10px;
    border: 1px solid gray;
    }

.password{
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid gray;
    }
.login{
    background-color: rgb(37, 102, 241);
    color: white;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 7px;
    padding: 10px;
    border: none;
    }
    .reset{
        display: flex;
        margin-bottom: 5px;
        margin-top: 10px;
        color:rgb(68, 130, 245);
        font-size: 17px;
        justify-content: center;
    }
.new_account{
    background-color: rgb(36, 192, 75);
    color: white;
    cursor: pointer;
    width: 60%;
    font-size: 17px;
    border-radius: 7px;
    padding: 10px;
    border: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
       }
hr {
  border-top: 1px solid rgb(175, 174, 174);  
  margin-bottom: 20px;
  margin-top: -5px;
}
p {
    position: relative;
    left: 500px;
    padding: 20px;
    width: 350px;
    margin-left: 20px;
    }